.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_txt {
    margin-top: 25px;
    color: var(--cor-texto-1);
    font-size: 1.5rem;
}

@media screen and (max-width:600px) {
    
    
    .about_txt {
        text-align: center;
        font-size: 1.2rem;
    }
}